<!-- <ion-header>
    <ion-toolbar color="medium">
      <ion-title>{{title}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="categorias"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
  
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [(ngModel)]="categoriaModel.nome" name="descricao" #descricao="ngModel"></ion-input>
      </ion-item>
    
      <ion-button type="submit" class="ion-padding" color="primary" expand="block">
        Salvar
      </ion-button>
    </form>
  </ion-content>
   -->